<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!-- head section -->
<%- include ('partials/head.ejs') %>

  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

      <main class="container c-container mt-5">
        <div class="jumbotron text-center">
          <p class="m-0 text-secondary-emphasis">Hi there! I am</p>
          <h1 class="display-4">Yajushi Garg</h1>
          <p class="lead mt-4 text-body">
            I am a dedicated student studying software engineering with solid communication and analytical abilities,
            eager to learn the fundamentals of workplace culture, and willing to work with exceptional supervision
          </p>
          <a class="btn btn-outline-light mt-4" href="/about" role="button">View Profile</a>
        </div>
      </main>

      <!--footer section-->
      <%- include ('partials/footer.ejs') %>

        <!--script section-->
        <%- include ('partials/scripts.ejs') %>
  </body>

</html>